*{
    margin: 0px;
    color: rgb(108, 216, 0);
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#15181E;
    height: 30px;
    padding-top:25px;
    padding-bottom: 20px;


    border: 1px solid black;
}

.navbar-logo{
    border: 1px solid white;
    background-color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.search{
    display: flex;
    height: 30px;
}

.search-input{
    border:none;
    width: 350px;
}

.search-select{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width: 50px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.search-button{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width:100px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.search-opt1{
    color: black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.navbar2{
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#3B82F6;
}

.nav2-a-tag{
    color: white;
    font-size: 18px;
    border: 1px solid black;
    padding: 0px 4.85% 0px 4.85%;
}

.hero{
    padding-top: 10px;
    height: 110px;
    background-color: #F5F7FA;
}

.pic-slots_1{
    background-color: #F5F7FA;
}

.pic-slots_2{
    background-color: #F5F7FA;
}

.td-img{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}

.td-img img{
    transition: 0.5s ease;
    cursor: pointer;
}

.td-img img:hover {
    transform: scale(1.1);
    filter: grayscale(90%);
}

.img-text{
    position: absolute;
    top: 10px; left: 5px;
    color: white;
    transition: 0.3s ease;
    opacity: 0;
}

.td-img:hover .img-text{
    opacity: 1;
}

.main-about-website{
    display: flex;
    background-color: #F5F7FA;
}

.about-website{
    height: 300px;
    width: 75%;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    background-color: #F5F7FA;

}

.git-logo-aboutme{
    height: 300px;
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: center;

}
