*{
    margin: 0px;
    color: rgb(108, 216, 0);
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#2373F4;
    height: 30px;
    padding-top:25px;
    padding-bottom: 20px;


    border: 1px solid black;
}

a{
    text-decoration: none;
}

.search{
    display: flex;
    height: 30px;
}

.search-input{
    border:none;
    width: 350px;
}

.search-select{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width: 50px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.search-button{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width:100px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.search-opt1{
    color: black;
}

.navbar2{
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 81, 0, 0.826);
}

.nav2-a-tag{
    color: white;
    font-size: 18px;
    border: 1px solid black;
    padding: 0px 14.5% 0px 14.5%;
}

.hero{
    height: 80px;
    background-color: #FFFAD3;
}

.td-img{
    padding: 0px;
}