*{
    margin: 0px;
    color: rgb(108, 216, 0);
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#15181E;
    height: 30px;
    padding-top:25px;
    padding-bottom: 20px;


    border: 1px solid black;
}

.navbar-logo{
    border: 1px solid white;
    background-color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.search{
    display: flex;
    height: 30px;
}

.search-input{
    border:none;
    width: 350px;
}

.search-select{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width: 50px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.search-button{
    background-color: #F2F7A0;
    border: none;
    color: black;
    width:100px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.search-opt1{
    color: black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.navbar2{
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#3B82F6;
}

.nav2-a-tag{
    color: white;
    font-size: 18px;
    border: 1px solid black;
    padding: 0px 4.85% 0px 4.85%;
}

.hero{
    padding-top: 10px;
    height: 110px;
    background-color: #F8FAFC;
}

.pic-slots_1{
    background-color: #F8FAFC;
}

.pic-slots_2{
    background-color: #F8FAFC;
}

.td-img{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.td-img img{
    transition: 0.5s ease;
    cursor: pointer;
}

.td-img img:hover {
    transform: scale(1.1);
    filter: grayscale(90%);
}

.main-about-website_1{
    display: flex;
    background-color: #F8FAFC;
}

.about-website{
    height: 300px;
    width: 75%;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    background-color: #F8FAFC;

}

.git-logo-aboutme{
    height: 300px;
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot-main{
    height: 170px;

    background-color: #15181E;
    border: 1px solid black;
}

.footer-links{
    display: flex;
    justify-content: space-around;
}

.footer-a-tag{
    color: rgb(108, 216, 0);
    padding: 0px 5.49% 0px 5.49%;
}

.social-links{
    display: flex;
    height: 80px;
    margin-top: 20px;
    padding-top: 20px;
}

.social-a-tag{
    color: rgb(108, 216, 0);
    overflow: hidden;
}

.social-a-tag img{
    transition: 0.3s ease;
}

.social-a-tag img:hover{
    transform: scale(0.9);
    filter: grayscale(50%)
}

.copyright{
    display: flex;
    padding-top: 8px;
    background-color: #15181E;
}

.copy-a-tag{
    text-decoration: underline;
    color: rgb(108, 216, 0);
}

.right-p{
    color: rgb(108, 216, 0);
    margin-left: 550px;
}