*{
    color: white;
    font-family: 'Times New Roman', Times, serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid red;
}

header img{
    margin: 0;
    height: 100%;
    width: 8%;
}

header nav a{
    text-decoration: none;

}

.search-section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-size: 17px;
    
}

main{
    height: 2000px;
}

.main-seller{
    height: 30%;
    width: 100%;

    position:relative;
}


.overlay-eff{

    background-color: transparent;
}

.main-seller img{
    width: 100%;
    height: 100%;

    border-bottom: 3px solid red;
    border-right: 1px solid red;
    border-left: 1px solid red;

}

.main-seller .overlay-eff{
    margin-left: 10px;
    margin-bottom: 10px;

    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: .5s ease-out;
}

.main-seller:hover .overlay-eff{
    opacity: 1;
}

.overlay-eff h1,
.overlay-eff u,
.overlay-eff p{
    padding-bottom: 10px;
}

.two-images{
    height: 40%;

    display: flex;

    border-bottom: 3px solid red;
}
.two-images .container1,
.two-images .container2{
    height: 100%;
    width: 50%;

    position: relative;
}

.two-images .container1 img,
.two-images .container2 img{
    height: 100%;
    width: 100%;
}

.two-images .container1 img{
    padding: 0 0 0 25%;
}

.two-images .container2 img{
    padding: 0 25% 0 0;
}

.container1 .men-casual-text{
    position: absolute;
    bottom:2%;
    left:27%; /*Here left is 25% + 2% to look good */
    opacity: 0;
    transition: .3s ease;
}

.container2 .men-royal-text{
    position: absolute;
    bottom:2%;
    left:2%;
    opacity: 0;
    transition: .3s ease;
}

.container1:hover .men-casual-text{
    opacity: 1;
}

.container2:hover .men-royal-text{
    opacity: 1;
}

.accessories{
    height: 30%;
}

/*This is for first column*/
.accessories .div-flex1{
    height: 50%;
    width: 100%;
    display: flex;
    border-bottom: 3px solid red;
}

.img-container1{
    height: 100%;
    width: 25%;
    border-right: 1px solid red;
    border-left: 1px solid red;

    position: relative;
    overflow: hidden;
}

#cont1-imgs{
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in;
}

.img-container1 .img-cont-text-div .img-cont-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


.img-container1:hover .img-cont-text{
    opacity: 1;
}

.img-cont-text u{
    text-decoration-color: red;
}

.img-container1:hover #cont1-imgs{
    transform: scale(1.05);
    filter: grayscale(90%);
}


/*This is for second column*/
.accessories .div-flex2{
    height: 50%;
    display: flex;
    border-bottom: 3px solid red;

}

.img-container2{
    height: 100%;
    width: 25%;
    border-right: 1px solid red;
    border-left: 1px solid red;


    position: relative;
    overflow: hidden;
}

.img-container2 #cont2-imgs{
    height: 100%;
    width: 100%;

    transition: 0.3s ease-in;
}

.img-container2 .img-cont-text{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
}

.img-container2:hover .img-cont-text{
    opacity: 1;
}

.img-container2:hover #cont2-imgs{
    transform: scale(1.05);
    filter: grayscale(90%);
}

/*Footer ka edits starts*/

footer{
    height: 500px;

    background-color: lightgreen;
}